.table {
    background-color: white;
    margin-top: 15px;
    th {
        width: 16.66666667%;
        text-align: center;
    }
    td {
        width: 16.66666667%;
        > div {
            height: 75px;
            margin: 5%;
            border: 1px solid lightgray;
            position: relative;
            &.empty {
                border: none;
            }
            div.remove {
                position: absolute;
                width: 100%;
                span {
                    float: right;
                    padding: 1px 9px;
                    cursor: pointer;
                }
            }
            &.clone {
                position: fixed;
                width: calc(90% - 16px);
                transform: none;
            }
        }
        &.drag {
            opacity: 0.2;
        }
    }
}
.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.actions {
    display: flex;
    justify-content: flex-end;
    button {
        margin-left: 1rem;
        width: 90px;
        height: 35px;
        span {
            margin-right: 10px;
        }
    }
}